
/* GOOGLE FONTS CDN */
/* @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="styleshee'); */


:root{
    --primary-color: #a855f7;
    --primary-color-dark: #99333e;
    --secondary-color: #ca8a04;
    --text-dark: #1f2937;
    --text-light: #6b7280;
    --extra-light: #faf5ff;
    --max-width: 1200px;
}


/* UNIVERSAL SECTION */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;

}



a{
    text-decoration: none;
    color: white;
}


/* BODY SECTION */
body{
    /* font-family: 'Poppins', sans-serif; */
}


/* NAV SECTION  START*/
nav{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    z-index: 99;
}



.nav__content{
    max-width: var(--max-width);
    margin: auto;
    padding: 1, 5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



nav .logo a {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary-color);
    transition: .3S;
    -webkit-transition: .3S;
    -moz-transition: .3S;
    -ms-transition: .3S;
    -o-transition: .3S;
}



nav .logo a:hover {
    color: var(--primary-color-dark);
}

nav .checkbox{
    display: none;
}

nav input{
    display: none;
}


nav .checkbox i {
    font-size: 2rem;
    color: var(--primary-color);
    cursor: pointer;
}

ul {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
    transition: left 0.3s;
    -webkit-transition: left 0.3s;
    -moz-transition: left 0.3s;
    -ms-transition: left 0.3s;
    -o-transition: left 0.3s;
}

ul li a {
    padding: 0.5rem 1rem;
    border: 2px solid transparent;
    text-decoration: none;
    font-weight: 600;
    color: var(--text-dark);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

ul li a:hover{
    border-top-color: var(--secondary-color);
    border-bottom-color: var(--secondary-color);
    color: var(--secondary-color);
}

/* NAV SECTION END */


/* SECTION  */
.about{
    width: auto;
    padding: 78px 0px;
    background-color: #191919;
}

.about img{
    height: auto;
    width: 420px;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    -ms-border-radius: 500px;
    -o-border-radius: 500px;
}

.about-text{
    width: 550px;
    /* background-color: red; */
    margin: 1rem;

}

.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* background-color: BLUE; */

}

.about-text h1{
    color: white;
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;

}

.about-text h5{
    color: white;
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;
}

span{
    color: #f9004d;
}

.about-text p{
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 85px;
}

button{
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
    
}

button:hover{
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
    transform: scale(1.1);

}




@media ( width < 750px){


    .about, .about img{

        width: auto;
    }

    .main{
        height: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 5rem;
    }

    .about-text{
        text-align: center;
        width: auto;
    }
}




@media (width < 750px){
    nav .checkbox {
        display: block;
    }


    ul {
        position: absolute;
        width: 100%;
        height: calc(100vh - 85px);
        left: -100%;
        top: 85px;
        background-color: var(--extra-light);
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
    }

    nav #check:checked ~ ul{
        left: 0;
    }

    ul li a{
        font-size: 1.25rem;
    }

    .section__container{
        padding: 10rem 1rem 5rem 1rem;
        text-align: center;
        grid-template-columns: repeat(1, 1fr);
    }

    .image{
        grid-area: 1/1/2/2;
    }

    .action__btns{
        margin: auto;
    }



}






/* FOOTER START */
.footer{
    width: auto;
    height: 56vh;
    /* padding:0px 0px; */
    /* background-color: #191919; */
    background-color: #ffffff;
    /* background-color: var(--extra-light); */
}


.footer-main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    /* padding: 0px 0px; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: BLUE; */

}



.footer-text{
    width: 550px;
    /* background-color: red; */
    margin: 1rem;
    text-align: center;

}


.footer-text h1{
    /* color: white; */
    color: var(--text-dark);
    font-size: 40px;
    text-transform: capitalize;
    margin-bottom: 10px;
    letter-spacing: 2px;

}



.footer-para{
    /* color: white; */
    color: var(--text-light);
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 30px;
}




.social{
    display: flex;
    justify-content: center;
}

.social a{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f9004d;
    border-radius: 50%;
    margin: 10px 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    
}

.social a:hover{
    transform: scale(1.3);
    transition: .3s;
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
}

.end{
    position: relative;
    color: #f9004d;
    top: 35px;
    font-size: 14px;
    text-align: center;
}





@media ( width < 750px){


    .footer{

        width: auto;
        height: auto;
        
    }

    .footer-main{
        height: auto;
        display: flex;
        justify-content: center;
        /* background-color: green; */
        flex-direction: column;
        padding: 5rem;
        position: relative;
        
    }

    .footer-text{
        text-align: center;
        width: auto;
        /* background-color: blue; */
        
    }
}