
/* GOOGLE FONTS CDN */
/* @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="styleshee'); */


:root{
    --primary-color: #a855f7;
    --primary-color-dark: #99333e;
    --secondary-color: #ca8a04;
    --text-dark: #1f2937;
    --text-light: #6b7280;
    --extra-light: #faf5ff;
    --max-width: 100%;
}


/* UNIVERSAL SECTION */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}



a{
    text-decoration: none;
}


/* BODY SECTION */
body{
    font-family: 'Josefin Sans', sans-serif;
}


/* NAV SECTION  START*/
nav{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    z-index: 99;
}



.nav__content{
    max-width: var(--max-width);
    margin: auto;
    padding: 1, 5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



nav .logo a {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary-color);
    transition: .3S;
    -webkit-transition: .3S;
    -moz-transition: .3S;
    -ms-transition: .3S;
    -o-transition: .3S;
}



nav .logo a:hover {
    color: var(--primary-color-dark);
}

nav .checkbox{
    display: none;
}

nav input{
    display: none;
}


nav .checkbox i {
    font-size: 2rem;
    color: var(--primary-color);
    cursor: pointer;
}

ul {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
    transition: left 0.3s;
    -webkit-transition: left 0.3s;
    -moz-transition: left 0.3s;
    -ms-transition: left 0.3s;
    -o-transition: left 0.3s;
}

ul li a {
    padding: 0.5rem 1rem;
    border: 2px solid transparent;
    text-decoration: none;
    font-weight: 600;
    color: var(--text-dark);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

ul li a:hover{
    border-top-color: var(--secondary-color);
    border-bottom-color: var(--secondary-color);
    color: var(--secondary-color);
}

/* NAV SECTION END */


/* SECTION  */

section{
    padding : 40px 15%;
}

.contact{
    background: #101010;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    align-items: center;
    grid-gap: 6rem;
}

.contact-img img{
    max-width: 100%;
    width: 720px;
    height: auto;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    -ms-border-radius: 500px;
    -o-border-radius: 500px;
}

.contact-form h1{
    font-size: 80px;
    color: #fff;
    margin-bottom: 20px;
}

span{
    color: #f9004d;
}

.contact-form p{
    color: #c6c9d8bf;
    font-size: 1.1rem;
    margin-bottom: 3.8rem;
    letter-spacing: 1px;
    line-height: 26px;
}

.contact-form form{
    position: relative;
}

.contact-form form input,
.contact-form form textarea{
    width: 100%;
    padding: 17px;
    border: none;
    outline: none;
    font-size: 1.1rem;
    color: #fff;
    background: #191919;
    margin-bottom: 0.7rem;
    border-radius: 10px;
    
}

.contact-form textarea{
    resize: none;
    height: 200px;
}

.contact-form form .btn{
    display: inline-block;
    background: #f9004d;
    font-size: 1.1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 600;
    border: 2px solid transparent;
    border-radius: 10px;
    width: 220px;
    transition: ease .20s;
    cursor: pointer;
}

.contact-form form .btn:hover{
    background: transparent;
    border: 2px solid #f9004d;
    transform: scale(1.1);
}



@media (max-width: 1570px){

.section{
    padding: 80px 3%;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
}

.contact-form h1{
        font-size: 60px;
}

.contact-form p{
    margin-bottom: 3rem;
}
}

@media (max-width: 1090px){
    .contact{
        grid-gap: 2rem;
        transition: .3s;
        -webkit-transition: .3s;
        -moz-transition: .3s;
        -ms-transition: .3s;
        -o-transition: .3s;
}
}

@media (max-width: 1000px){
    .contact{
        grid-template-columns: 1fr;
    }

    .contact-form{
        order: 2;
    }

    .contact-form img{
        max-width: 100%;
        width: 100%;
        height: auto;
        text-align: center;
        margin-bottom: 30px;
    }
}






@media (width < 750px){
    nav .checkbox {
        display: block;
    }


    ul {
        position: absolute;
        width: 100%;
        height: calc(100vh - 85px);
        left: -100%;
        top: 85px;
        background-color: var(--extra-light);
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
    }

    nav #check:checked ~ ul{
        left: 0;
    }

    ul li a{
        font-size: 1.25rem;
    }

  


}






/* FOOTER START */
.footer{
    width: auto;
    height: 56vh;
    /* padding:0px 0px; */
    /* background-color: #191919; */
    background-color: #ffffff;
    /* background-color: var(--extra-light); */
}


.footer-main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    /* padding: 0px 0px; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: BLUE; */

}



.footer-text{
    width: 550px;
    /* background-color: red; */
    margin: 1rem;
    text-align: center;

}


.footer-text h1{
    /* color: white; */
    color: var(--text-dark);
    font-size: 40px;
    text-transform: capitalize;
    margin-bottom: 10px;
    letter-spacing: 2px;

}



.footer-para{
    /* color: white; */
    color: var(--text-light);
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 30px;
}




.social{
    display: flex;
    justify-content: center;
}

.social a{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f9004d;
    border-radius: 50%;
    margin: 10px 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    
}

.social a:hover{
    transform: scale(1.3);
    transition: .3s;
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
}

.end{
    position: relative;
    color: #f9004d;
    top: 35px;
    font-size: 14px;
    text-align: center;
}





@media ( width < 750px){


    .footer{

        width: auto;
        height: auto;
        
    }

    .footer-main{
        height: auto;
        display: flex;
        justify-content: center;
        /* background-color: green; */
        flex-direction: column;
        padding: 5rem;
        position: relative;
        
    }

    .footer-text{
        text-align: center;
        width: auto;
        /* background-color: blue; */
        
    }
}